.profile__job {
    max-width: 336px;
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 791px) {
    .profile__job {
        max-width: 191px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}