.header {
    width: calc(100% - 200px*2);
    margin: 40px auto 45px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1079px) {
    .header {
        width: calc(100% - 60px*2);
    }
}

@media screen and (max-width: 791px) {
    .header {
        width: 100%;
        margin: 28px auto 42px;
    }
}